body{
    text-align: left;
    color: white;
    background-color: rgb(35, 173, 77);
}

.titulo {
    font-family: monospace;
    color: black;
}

.subtitulo {
    font-family: monospace;
}
