body{
    text-align: left;
    color: white;
    background-color: rgb(173, 35, 35);
}

.titulo {
    font-family: monospace;
    color: black;
}

.subtitulo {
    font-family: monospace;
}
